.navbar{
    border: 2px solid blue;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.navbar .count{
    /* border: 2px solid red; */
    width: 9rem;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.navbar ul li span{
    width: 30px;

    border: 1px solid black;
background-color: red;
border-radius: 50%;
    height: 30px;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.navbar ul{
    /* border: 2px solid red; */
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul li{
    font-size: 1.3rem;
    list-style-type: none;
    /* display: flex; */
}
.navbar ul a{
    text-decoration: none;

}
.navbar ul .active{
    font-size: 1.3rem;
    color: red;
    /* text-decoration: none; */


}